@import "tailwindcss";

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --color-dark-white: #f2f3f4;
}

@custom-variant dark (&:where(.dark, .dark *));

/* body {
  background-color: #131312;
  color: #ffffff;
} */

.fixed-width-digits {
  font-variant-numeric: tabular-nums;
}
